.player {
  background-color: rgb(238, 237, 237);
  margin: .5em; 
  border: 2px solid grey;
  min-width: 200px;
  padding: .5em;
  border-radius: .3em;
}

h5 {
  display: inline;
  color: grey;
}

.points {
  width: 20px;
  height: 20px;
  margin: .3em;
  line-height:2.2px;
}